<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <title>e-notes kulinarny</title>

    <meta name="describtion" content="e-nots kulinarny Kochanej Mamy">
    <meta name="keywords" content="e-nots kulinarny Kochanej Mamy">

    <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <div id="container">
        <div id="logo">
            e-notes kulinarny Kochanej Mamy
        </div>
        
        <div id="topbar">
            <div id="topbarL">
                <img src="static/img/notes.png" width="140px" height="140px"/>
            </div>
            <div id="topbarR">
                <span class="bigtitle">Informacje<br/></span>
                <br/>
                E-notes Kochanej Mamy, która jest najbardziej kreatywną kucharką! <br/>
                Która potrafi zrobić coś z niczego!
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="menu">
            <div class="option">Drożczówka nocna</div>
            <div class="option">             </div>
            <div class="option"><br/></div>
            <div style="clear: both;"></div>
        </div>
        <div>
            <br/>
        </div>
            <div id="content">
                <span class="bigtitle">Drożczówka nocna</span>
                <div id="dottedline"></div>
                <div>
                    <iframe src="https://onedrive.live.com/embed?cid=58F5C0ABCDADB4B8&resid=58F5C0ABCDADB4B8%213868&authkey=AIRIJrwqEuWijwA&em=2" width="920" height="1250" frameborder="0" scrolling="no"></iframe>
                    <!-- <iframe src="https://drive.google.com/file/d/1zlt9DBYMfkkLGB-a0RtZWY063njzTMfr/preview" width="720" height="1050"></iframe> -->
                    <!-- <iframe src="https://drive.google.com/file/d/12X3HfOBNFiyDGE0Rb-f9agj-99ubJjpE/preview" width="720" height="1020"></iframe> -->
                </div>
        </div>
        <div class="empty"></div>
        <div id="footer">
            e-notes kulinarny Kochanej Mamy - strona od 2020 &copy; All Rigthts Reserved
        </div>
    </div>
</body>

</html>